<div class="row container-fluid">
    <div class="col-1">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center w-100 h-100">
                <i class="bi bi-house"></i>
                <p>Home</p>
            </div>
            <div class="d-flex justify-content-center align-items-center w-100 h-100">
                <i class="bi bi-files"></i>
                <p>New</p>
            </div>
            <div class="d-flex justify-content-center align-items-center w-100 h-100">
                <i class="bi bi-folder"></i>
                <p>Open</p>
            </div>
        </div>
    </div>
    <div class="col-11">
        <h5>Welcome</h5>
        <div class="row">
            <div class="col-2">
                <button data-toggle="modal" data-target="#showModal" class="w-100 border-0">
                    <img src="https://wallpapercave.com/dwp1x/wp4033162.jpg" class="w-100" height="100px">
                </button>
                <p class="text-center">Template 1</p>
            </div>
            <div class="col-2">
                <button data-toggle="modal" data-target="#showModal" class="w-100 border-0">
                    <img src="https://wallpapercave.com/dwp1x/wp4033170.jpg" class="w-100" height="100px">
                </button>
                <p class="text-center">Template 2</p>
            </div>
            <div class="col-2">
                <button data-toggle="modal" data-target="#showModal" class="w-100 border-0">
                    <img src="https://wallpapercave.com/dwp1x/wp4033182.jpg" class="w-100" height="100px">
                </button>
                <p class="text-center">Template 3</p>
            </div>
            <div class="col-2">
                <button data-toggle="modal" data-target="#showModal" class="w-100 border-0">
                    <img src="https://getwallpapers.com/wallpaper/full/8/5/9/184657.jpg" class="w-100" height="100px">
                </button>
                <p class="text-center">Template 4</p>
            </div>
            <div class="col-2">
                <button data-toggle="modal" data-target="#showModal" class="w-100 border-0">
                    <img src="https://getwallpapers.com/wallpaper/full/6/6/7/184805.jpg" class="w-100" height="100px">
                </button>
                <p class="text-center">Template 5</p>
            </div>
            <div class="col-2">
                <button data-toggle="modal" data-target="#showModal" class="w-100 border-0">
                    <img src="https://getwallpapers.com/wallpaper/full/e/5/b/184912.jpg" class="w-100" height="100px">
                </button>
                <p class="text-center">Template 6</p>
            </div>

            <div class="col-12"><hr /></div>
            <div class="col-12"><p class="float-right">More themes</p></div>
            <div class="col-12">
                <div class="input-group ">
                    <div class="form-outline">
                        <input type="search" id="output" class="form-control" placeholder="Search"/>  
                    </div>
                    <button type="button" class="btn btn-primary" onclick="runSpeechRecognition()">
                        <i class="bi bi-search"></i> <span id="action"></span></p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
			/* JS comes here */
		    function runSpeechRecognition() {
		        // get output div reference
		        var output = document.getElementById("output");
		        // get action element reference
		        var action = document.getElementById("action");
                // new speech recognition object
                var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
                var recognition = new SpeechRecognition();
            
                // This runs when the speech recognition service starts
                recognition.onstart = function() {
                    action.innerHTML = "<small>listening, please speak...</small>";
                };
                
                recognition.onspeechend = function() {
                    action.innerHTML = "<small>stopped listening, hope you are done...</small>";
                    recognition.stop();
                }
              
                // This runs when the speech recognition service returns result
                recognition.onresult = function(event) {
                    var transcript = event.results[0][0].transcript;
                    var confidence = event.results[0][0].confidence;
                    output.innerHTML = ""+ transcript + "";
                    output.classList.remove("hide");
                };
              
                 // start recognition
                 recognition.start();
	        }
		</script>