<div class="row">
    <div class="col-1">
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
            Home
        </div>
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
            New
        </div>
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
            Open
        </div>
    </div>
    <div class="coll-11">
        Demo
    </div>
</div>